@model Domain.TypeOfAd

@{
    ViewData["Title"] = "حذف نوع آگهی";
}

<h1 class="mt-4">حذف نوع آگهی</h1>

<h3>آیا درمورد حذف این آگهی مطمین هستید؟</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
