@model IEnumerable<Domain.SubCategory>
@{
    ViewData["Title"] = "انتخاب زیردسته";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main" class="clearfix ad-post-page">
    <div class="container">

        <div class="breadcrumb-section">
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="/">خانه</a></li>
                <li>افزودن آگهی</li>
            </ol><!-- breadcrumb -->
            <h2 class="title">انتخاب زیرگروه</h2>
        </div><!-- banner -->


        <div id="ad-post">
            <div class="row category-tab">

                <div class="col-lg-3 col-md-6"></div>
                <!-- Tab panes -->
                <div class="col-lg-6 col-md-6">
                    <div class="section tab-content subcategory post-option">
                        <h4>یک زیر شاخه را انتخاب کنید</h4>


                        <div role="tabpanel" class="tab-pane active show" id="cat2">
                            <ul>
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <li><a href="/Account/InsertAd?idcatgory=@item.CategoryID&subcategory=@item.ID">@item.Title</a></li>

                                    }
                                }
                                else
                                {
                                    <li><a>موردی ثبت نشده است</a></li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- next-stap -->
            </div>
            <div class="row">
                <div class="col-sm-12 offset-sm-2 text-center">
                    <div class="ad-section">
                        <a href="#">
                            <div>آگهی شما در اینجا</div>
                          
                        </a>
                    </div>
                </div>
            </div><!-- row -->
        </div>
    </div><!-- container -->
</section>

