@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    کلمه عبور بازنشانی شد <a asp-page="./Login">کلیک برای ورود</a>.
</p>
