@model Domain.Rules

@{
    ViewData["Title"] = "حذف قانون سایت";
}

<h3 class="mt-4">از حذف این مورد مطمئن هستید؟</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف شود" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">انصراف</a>
    </form>
</div>
